@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    float: none;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
body {
    --priColor: #f8b729;
    --secColor: #db3b80;
    --terColor: #003679;
    font-family: basic-sans, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    font-size: 1.125em;
    line-height: 1.6;
    color: #333;
    padding: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 50px;
}

.orang {
    color: var(--priColor);
}
.pink {
    color: var(--secColor);
}

.bigT {
    font-weight: bold;
    font-size: 60px;
}

em {
    font-style: italic;
    font-weight: 300;
}
strong {
    font-weight: 700;
}
h1 {
    font-size: 46px;
    font-weight: 300;
}
h2 {
    font-size: 35px;
    font-weight: 300;
}
h3 {
    font-size: 28px;
    font-weight: 400;
}
h4 {
    font-size: 25px;
    font-weight: 400;
}
h5 {
    font-size: 20px;
    font-weight: 700;
}
h6 {
    font-size: 20px;
    font-weight: 700;
}

p {
    font-size: 21px;
    font-weight: 400;
    margin-top: 25px;
}
small {
    font-size: 10;
    font-weight: 300;
    margin: 30px 250px 5px 25px;
    display: inline-block;
}

ul {
    margin: 0px 0px 10px 78px;
    font-size: 21px;
    font-weight: 400;
    padding: 4px 15px 0px 0px;
}

ol {
    margin: 0px 0px 10px 78px;
    font-size: 21px;
    font-weight: 400;
    padding: 4px 15px 0px 0px;
}

dl dt {
    color: var(--terColor);
    font-weight: 600;
}

dl dd {
    margin-left: 25px;
    margin-top: 5px;
    background-color: var(--terColor);
    color: #fff;
    background-image: linear-gradient(0, var(--secColor) 50%, transparent 50%);
}

blockquote {
    width: 60%;
    margin: 50px auto;
    position: relative;
    font-style: italic;
    color: #555555;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid #202020;
    line-height: 1.6;
    position: relative;
    background: #ededed;
}
figcaption {
    font-size: 12;
    font-weight: 300;
    font-style: italic;
    margin-left: 500px;
}
blockquote::before {
    font-family: Arial;
    content: "\201C";
    color: #202020;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
}

blockquote::after {
    content: "";
}
blockquote p {
    display: inline;
}
table {
    margin-left: 50px;
    margin-bottom: 15px;
    color: #333;
    background: white;
    border: 1px solid grey;
    font-size: 12pt;
    border-collapse: collapse;
}
table thead th {
    color: #777;
    background: rgba(0, 0, 0, 0.1);
}
table caption {
    padding: 0.5em;
}
table th,
table td {
    padding: 0.5em;
    border: 1px solid lightgrey;
}
code {
    padding: 25px;
    font-family: monospace;
    font-size: 20px;
}
pre code {
    display: block;
    background: #f2f2f2f2;
    white-space: pre;
    margin: 10px 200px 5px 50px;
    border-left: 5px solid var(--terColor);
}
img {
    display: block;
    object-fit: cover;
}

form {
    background: #f9f9f9;
    padding: 25px;
    width: 20%;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    clear: both;
    overflow: hidden;
}
form input[type="text"] {
    border: 1px solid #202020;
    height: 30px;
    width: 100%;
    background: #fff;
    margin: 0 0 5px;
    padding: 10px;
}
form label {
    display: none;
}
form input[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: var(--priColor);
    color: #fff;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    box-sizing: content-box;
}

form input[type="submit"]:hover {
    background: var(--priColor);
    transition: background 0.3s;
}
form input[type="button"] {
    margin: 10px;
    background-color: var(--secColor);
    padding: 5px 15px;
    border-radius: 50px;
    border: solid 3px var(--terColor);
    font-weight: bold;
    color: var(--terColor);
}
form input[type="button"]:hover {
    cursor: pointer;
    border-color: var(--priColor);
}
button {
    margin: 10px;
    background-color: var(--priColor);
    padding: 10px 30px;
    border-radius: 50px;
    border: solid 3px var(--terColor);
    font-weight: bold;
    color: var(--terColor);
}
button:hover {
    cursor: pointer;
    border-color: var(--secColor);
}
button:focus {
    outline: none;
    box-shadow: 0 0 5px #000000;
}
.btn {
    margin: 10px;
    background-color: var(--priColor);
    padding: 10px 30px;
    border-radius: 50px;
    border: solid 3px var(--terColor);
    font-weight: bold;
    color: var(--terColor);
}
.btn:hover {
    cursor: pointer;
    border-color: var(--secColor);
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

h1.title {
    color: var(--terColor);
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}

.hero {
    display: grid;
    grid-gap: 2em;
    align-items: center;
}

@media (min-width: 960px) {
    .hero {
        grid-template-columns: repeat(2, 1fr);
    }
}

#iconBody:hover {
    fill: var(--terColor);
}

#iconHeart:hover {
    fill: var(--priColor);
}

#canvas {
    background-color: var(--terColor);
    border-radius: 5px;
}

.nav {
    margin: 5px, 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.navbar {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: max-content;
    gap: 1rem;
    background-color: var(--priColor);
    margin-top: 8px;
    padding: 0.25em 1em;
}
.navbar li {
    display: block;
}
.navbar a {
    text-decoration: none;
    color: black;
}
.navbar a:hover {
    text-decoration: underline;
    text-decoration-color: var(--secColor);
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
}
.breadcrumbs {
    padding: 0;
    font-size: 84%;
}
.breadcrumbs li {
    display: inline-block;
}
.breadcrumbs li::after {
    content: ">";
    font-size: 70%;
    padding: 0 0.5em;
    font-family: georgia, serif;
}
.breadcrumbs li:last-child::after {
    content: "";
}
.breadcrumbs a {
    color: black;
    text-underline-offset: 3px;
}
.breadcrumbs a:hover {
    text-decoration: underline;
    text-decoration-color: var(--priColor);
    text-decoration-thickness: 1.1em;
    text-underline-offset: -0.9em;
    text-decoration-skip-ink: none;
}

.secNav {
    margin-top: 5em;
    background-color: wheat;
    padding: 10px;
    border-radius: 5px;
}

.secNav ul {
    list-style: none;
    margin: 5px;
    padding: 5px;
}

.secNav ul li a {
    color: var(--secColor);
}

.secNav ul li a:hover {
    color: var(--terColor);
}

.myClass {
    color: green;
}
#myId {
    color: red;
}

.item {
    background-color: var(--priColor);
    display: flex;
    border-radius: 60px;
    padding: 10px;
    height: 72px;
    width: 290px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.999;
}
.name {
    margin: 5px 20px;
    font-size: 1.4em;
    font-weight: 400;
}
.box {
    border: solid 4px #202020;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 290px;
    margin-bottom: 10px;
}

.hold {
    border: solid 4px #202020;
}

.inves {
    display: none;
}

.hovered {
    border: solid 4px var(--secColor);
}

.avatar {
    border-radius: 50%;
    width: 60px;
    height: auto;
}
